<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>top|ネガポジ分析ツールfor Instagram</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

<!--heroku にアップロードした際に、エラーとなってしまうのでhttp　ではなく、httpsとする-->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/top.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

</head>
<body>
  <div class="container">
    <div class="row">
<div class="col-md-12">
<div class="login-box auth0-box before">
    <br/>
    <br/>

    <h2><strong>ハッシュタグ投稿<br/>ネガポジ分析ツール<br/>for Instagram</strong></h2>
    
    <a class="btn btn-lg" href="/login">ネガポジ分析を行う</a>
    <br/><br/>
    <h5>ご利用には、Instagramビジネスアカウントと連携された、</br>facebookアカウントが必要です<h5>
</div>

    </div>
  </div>


</body>
</html>